body{
    background-color: white;
    margin: 0;

}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1282A2; 
    align-items: center;
    font-family: 'Karla', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
}

#company-logo{
    font-family: 'Karla', sans-serif;
    color: white;
    padding-left: 1rem;
}


.nav-items ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-items li{
    list-style: none;
}

.nav-items li:hover{
    text-decoration: underline;
}

.nav-items li a{
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-size: 20px;
    display: block;
}

.toggle-button{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}


#side-panel{
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    /* background-color: #cff0fa; */
    background-color: #EAECEE;
    overflow-x: hidden;
    padding-top: 20px;
}

#side-panel h3{
    text-align: center;
    margin-top: 0;
    font-family: 'Karla', sans-serif;

}

#side-panel li{
    list-style: none;
}

#side-panel a{
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    display: block;
    font-family: 'Karla', sans-serif;
    color: black;
}

#side-panel-hr{
    border: 1px solid black;
}

#side-panel a:hover{
    text-decoration: underline;
}

.main{
    margin-left: 200px;
    margin-top: 85px;
    font-family: 'Karla', sans-serif;
    
    
}

.company-list{
    display: grid;
    grid-template-columns: 270px 270px 270px;
    gap: 80px 200px;
    justify-content: center;
    grid-auto-rows: minmax(100px, auto);
    
    

}

.main note p{
    text-align: center;
    margin-top: 250px;
    /* font-family: 'Karla', sans-serif; */
}

.main h3{
    text-align: center;
    font-size: 40px;
}

.note{
    text-align: center;
    top: 0px;
    
}

.company-card{
    border: 2px solid black;
    padding:5px 10px ;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 15px; */
}

.company-card img{
    display: block;
    margin: 0 auto;
}

.bottom-hr{
    clear: both;
    visibility: hidden;
}

.tag{
    background-color: #55ff80;
    padding: 1px 8px;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
}

#footer{
    bottom: 0;
    width: 100vw;
    /* margin-left: 200px; */
    text-align: center;
    background-color: #1282A2;
    padding: 50px;
    font-family: 'Karla', sans-serif;
    color: white;
    
}

@media only screen and (max-width: 800px){
    .company-list{
        grid-template-columns: 270px;
    }

    #side-panel{
        height: 100%;
        width: 100%;
        
    }
}









